<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2023 Cheese and Bacon Games, LLC
  ~ This file is licensed under the MIT License.
  ~ See the file docs/LICENSE.txt for the full license text.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.cheeseandbacon.shtracker">

    <!-- Normal permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.software.autofill" android:required="false" />

    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        android:resizeableActivity="true"
        android:isGame="false"
        android:appCategory="productivity">

        <activity
            android:name=".day.DayActivity"
            android:supportsPictureInPicture="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".month.MonthActivity"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".event.EventActivity"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".event.SelectReasonActivity"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".event.CustomizeReasonActivity"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".reasonTemplates.AddReasonTemplateActivity"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".event.SelectActionActivity"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".event.CustomizeActionActivity"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".actionTemplates.AddActionTemplateActivity"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".reasonTemplates.ReasonTemplatesActivity"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".actionTemplates.ActionTemplatesActivity"
            android:supportsPictureInPicture="true" />

    </application>

</manifest>
